:root {
	color-scheme: light dark;

	/* Base colors (needed for semantic variables below) */
	--bg: light-dark(#fbf1c7, #282828);
	--bg-soft: light-dark(#f2e5bc, #32302f);
	--fg: light-dark(#282828, #fbf1c7);
	--fg-alt-2: light-dark(#504945, #d5c4a1);
	--fg-alt-4: light-dark(#7c6f64, #a89984);
	--yellow: light-dark(#b57614, #fabd2f);
	--orange: light-dark(#af3a03, #fe8019);
	--yellow-dim: #d79921;
	--orange-alt: #7c2a03;
	--offwhite: #faf9f6;

	/* Use these tho */
	--background-color: light-dark(var(--offwhite), var(--bg));
	--background-color-secondary: var(--bg-soft);
	--text-color: var(--fg-alt-2);
	--text-color-secondary: var(--fg-alt-4);
	--headings-color: var(--fg);
	--primary-color: light-dark(var(--orange), var(--yellow));
	--primary-color-alt: light-dark(var(--orange-alt), var(--yellow-dim));
}

body {
	width: 220px;
	min-width: fit-content;
	padding: 1rem;
	font-family:
		Iowan Old Style,
		Apple Garamond,
		Baskerville,
		Times New Roman,
		Droid Serif,
		Times,
		Source Serif Pro,
		serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

.about-link {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 16px;
	height: 16px;
	opacity: 0.4;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color-secondary);
}

.about-link:hover {
	opacity: 0.8;
}

svg {
	width: 16px;
	height: 16px;
}

button svg {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;
	padding: 0;
	margin-left: 0.3rem;
	font-size: 1rem;
	font-weight: 600;
	color: var(--headings-color);
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.setting div {
	display: flex;
	align-items: center;
}

#refresh-btn svg {
	width: 1.2rem;
	height: 1.2rem;
}

.setting:not(.setting:last-of-type) {
	margin: 1rem 0;
}

label[for='auto-redirect'] {
	flex-grow: 1;
}

label {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 0.8rem;
}

input[type='checkbox'] {
	margin-right: 8px;
	cursor: pointer;
	accent-color: var(--primary-color);
}

button {
	border: none;
	cursor: pointer;
	background: none;
	color: var(--primary-color);
	font-family: inherit;
}

button:hover:not(:disabled) {
	color: var(--primary-color-alt);
}

button:disabled {
	cursor: not-allowed;
	color: var(--text-color-secondary);
	opacity: 0.5;
}
